<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629645419529-0bijpm6g9m2td0me8vqerk88hob0gmug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629645419529-0bijpm6g9m2td0me8vqerk88hob0gmug</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>629645419529-pafbf9f11t7muneig72r42700gqakesa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZk_7AqNRBc4zMJzOw-HBJfrH5SEqjtRo</string>
	<key>GCM_SENDER_ID</key>
	<string>629645419529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teetech.lassaharavendor</string>
	<key>PROJECT_ID</key>
	<string>lassahara-bf23e</string>
	<key>STORAGE_BUCKET</key>
	<string>lassahara-bf23e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629645419529:ios:251aed4e773efa2fc084d8</string>
</dict>
</plist>